fastapi
python-multipart
uvicorn[standard]
python-dotenv
pydantic-settings
langchain
langchain-groq
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
langchain-openai
sentence-transformers
faiss-cpu
chromadb
httpx
pypdf
python-docx
